# Ignore the virtual environment folder
.venv/
**/.venv/

# Python-related directories and files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyi

# Ignore site-packages directories (if needed)
etc/
Scripts/
share/
include/
Lib/


# Ignore environment variables
.env
*.env

# Ignore system files (e.g., macOS, Windows)
.DS_Store
Thumbs.db